/* greet-section */

.greet-section{
    /* border: 1px solid rgb(44, 44, 44); */
    height: 300px;
    padding: 20px 25px;
   
 }
 .card-container{
     /* border: 1px solid rgb(39, 39, 39); */
     /* height: 100px; */
     padding:20px 0;
     display: flex;
     justify-content: space-between;

 }
 .mini-card{
       background: linear-gradient(to bottom ,rgb(37, 37, 37),rgb(41, 41, 41));
       width: 320px;
       height: 90px;
       /* flex: 1; */
       /* margin: 0 5px; */
       border-radius: 7px;
 }
section{
    padding: 20px 25px;
     height:350px;
     /* border: 1px solid rgb(0, 0, 0); */

     display: flex;
     justify-content: space-between;
     flex-direction: column;

}
.title{
     font-weight: 500;
     color: rgb(255, 255, 255);
     text-decoration: none;
}
.title:hover{
     text-decoration: underline;
}
.card-wrapper{
     /* border: 1px solid rgb(128, 128, 128); */
      height: 250px;
     display: flex;
     justify-content: space-between;
      
}

.card{
    
       cursor: pointer;
       border-radius: 5px;
       height: 264px;
       width: 186px;
       background: linear-gradient(to bottom ,rgb(37, 37, 37),rgb(41, 41, 41));
}
.account-btn {
     /* margin: 0 10px; */
     width: 120px;
     height: 30px;
     border: none;
     border-radius: 20px;
     background: rgb(20, 20, 20);
  
     display: flex;
     align-items: center;
  
  
     color: white;
     font-size: 13px;
  
  }
  .svg-account {
     background: #000;
     width: 30px;
     height: 30px;
     border-radius: 20px;
     color: lightgrey;
     background: rgb(61, 61, 61);
     margin: 0 10px 0 0;
  
     display: flex;
     align-items: center;
     justify-content: center;
  
  }
  